@model Alunos
@{
    ViewData["Title"] = "Inserir Aluno";
}
<h1>Inserir novo aluno</h1>
<div class="form-group">
    <div class="form-control">
        <label for="Nome">Nome do Aluno: </label>
        <input asp-for="Nome" class="form-control">
    </div>
    <div class="form-control">
        <label for="Turma">Turma do Aluno: </label>
        <input asp-for="Turma">
    </div>
    <div class="form-control">
        <label for="Nota1">Primeira Nota: </label>
        <input asp-for="Nota1">
    </div>
    <div class="form-control">
        <label for="Nota2">Segunda Nota: </label>
        <input asp-for="Nota2">
    </div>
    <div class="form-control">
        <label for="Nota3">Terceira Nota: </label>
        <input asp-for="Nota3">
    </div>
    <div class="form-control">
        <label for="Faltas">Quantidade de Faltas :</label>
        <input asp-for="Faltas">
    </div>
    <div class="form-control">
        <input type="submit" action="Inserir" value="Confirmar" class="btn btn-primary">
    </div>
</div>